.candidate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.save-button {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 24px; /* Increase padding */
  cursor: pointer;
  flex: 1;
  margin-right: 5px;
}

.skip-button {
  background-color: red;
  color: white;
  border: none;
  padding: 12px 24px; /* Increase padding */
  cursor: pointer;
  flex: 1;
  margin-left: 5px;
}

input[type="text"] {
  padding: 10px;
  font-size: 14px; /* Increase font size */
  width: 100%; /* Ensure it takes up available width */
}

button {
  padding: 12px 24px; /* Increase padding */
  font-size: 14px; /* Increase font size */
  margin: 5px; /* Add space around buttons */
}