/* Styles for the candidates table */
.candidates-table {
  width: 100%; /* Full width */
  border-collapse: collapse; /* Collapse borders */
}

/* Styles for table headers and cells */
.candidates-table th, .candidates-table td {
  border: 1px solid #ddd; /* Light gray border */
  padding: 8px; /* Padding inside cells */
  min-height: 50px; /* Set a minimum height for rows */
  max-height: 100px; /* Set a maximum height for rows */
  overflow: hidden; /* Hide overflow content */
}

/* Styles for table headers */
.candidates-table th {
  background-color: black; /* Black background */
  color: white; /* White text */
  text-align: left; /* Left align text */
}

/* Styles for table cells */
.candidates-table td {
  font-size: 14px; /* Adjust font size as needed */
}

/* Styles for the bio column */
.candidates-table .bio-column {
  white-space: normal; /* Allow text to wrap */
  overflow: visible; /* Show overflow content */
}

/* Styles for even rows */
.even-row {
  background-color: gray; /* Gray background */
  color: white; /* White text */
}

/* Styles for odd rows */
.odd-row {
  background-color: black; /* Black background */
  color: white; /* White text */
}

/* Styles for images inside the table */
.candidates-table img {
}

@media (max-width: 768px) {
  .candidates-table th, .candidates-table td {
    font-size: 12px; /* Adjust font size for smaller screens */
    padding: 4px; /* Adjust padding for smaller screens */
  }

  .candidates-table img {
    height: 40px; /* Adjust image size for smaller screens */
    width: 40px;
  }
}

.filter-input {
  max-width: 50%;
}

.filter-sort-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.filter-label, .sort-label {
  font-size: 14px;
  margin-bottom: 5px;
}

.filter-label input {
  margin-left: 5px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}